/*MAIN SECTION*/

main {
  grid-area: main;

  display: grid;
  grid-template-areas: 
  "infoBar"
  "principal"
  "more-info"
  ;
}

.infoBar {
  grid-area: infoBar;
 
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 58px;
}

h1 {
  color: $second-color;
  font-style: bold;
  font-size: 30px;
  font-weight: bold;
  margin-top: 70px;
}

.info-encabezado {
  color: $second-color;  
  font-weight: bold;
  padding-top: 10px;
  background:#dbe2eb;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-bottom: 0.1em;
  padding-left: 20px;
  text-decoration: none;
}   

#colorbreadcrumb_link {
  color: $first-color;
}

#colorbreadcrumb {
  color: $second-color;
}

#colorbreadcrumb_link {
  &:hover {
    color: $second-color;
  }
}

.info-encabezado {
  span {
    color: $first-color;
    font-weight: bold;
  }
}

li {
  .breadcrumb-item {
    color: $first-color;
  }
}

@mixin size {
  margin-left: 40px;
  margin-right: 40px;
}  

.principal {
  grid-area: principal;
  margin-top: 30px;
  @include size;
}

.portada {
  background-image: url('../img/img1.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 10px; 
}

.intro-texto {
  padding-left: 40px;
  color: #f5f5f5; 
  text-shadow: #080808 2px 2px 3px;
  padding-top: 300px;
  padding-bottom: 200px;
}

.intro-titulo {
font-size: 35px;
padding-left: 20px;
} 

.intro-cuerpo {
  margin-top: 10px;
  font-size: 20px;
  padding-left: 20px;
}

button {
  border-radius: 10px;
  background-color: $first-color;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 30px;
  margin-left: 20px;
}

button {
  a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
  }
}

button {
  &:hover {
    border: solid black 1px; 
    text-decoration: none;
  }
}

h5 {
  &:hover {
    color: #ffffff;
  }
}

.more-info { 
  grid-area: more-info;

  background-color: #dbe2eb;
  line-height: 30px;
  color: $first-color;
  font-family: Open Sans, sans-serif;
  border-radius: 10px;
  padding: 30px;
  @include size;
  margin-bottom: 60px;
  margin-top: 100px;
}

form {
  width: 500px;
  background-image: url('../img/img11.jpg');
  border-radius: 10px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 480px;
  margin-right: 480px;
  padding: 30px 30px;
  margin: auto;
}

select {
  font-family: Verdana, Tahoma, sans-serif;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
  border-radius: 5px;
  border:#CDD7E2;
}


.texto-institucional {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.parrafo-institucional {
font-style: italic;
padding-top: 5px;
padding-right: 20px;
}

.foto-institucional {
  border-radius: 10px; 
}

.imgProgramas {
  border-radius: 5px;
}

iframe {
  border-radius: 20px; 
  padding-bottom: 10px;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
}

.card {
  padding: 18px;
  border-radius: 10px;
  border: solid #CDD7E2;
  border-width: 1px;
  margin: 10px;
} 

.textCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: $first-color;
} 

