.social-bar {
  position: fixed;
  right: 0;
  top: 50%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}
  
.icon {
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  display: flex;
  transition: all .5s;
   
  &:first-child {
    border-radius: 1rem 0 0 0;
  }
    
  &:last-child {
    border-radius: 0 0 0 1rem;
  }
    
  &:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  }
}
  
.icon-facebook {
  background: #2E406E;
}
  
.icon-instagram {
  background: #3f729b;
}
  
.icon-twitter {
  background: #339dc5;
}
  
.icon-youtube {
  background: #E83028;
}
  
.icon-whatsapp {
  background: #018844;
}
  
    
 
  