* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   .main-wrapper {
    background-color: #fffffa;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
  }

$first-color: #2f4f4f;
$second-color: #4c9e9e;
